.banner  {
    background-image: linear-gradient(rgba(12, 36, 54, 0.487), rgba(12, 32, 40, 0.5)),asset_url("towerofgod.jpg");
    width: 100%;
    height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
}